<!-- File: views/partials/footer.ejs -->
<footer>
  <div class="footer-content">
    <ul class="footer-links">
      <li>&copy; <%= new Date().getFullYear() %> Pros-Tech</li>
      <li><a href="/t&c">Terms & Conditions</a></li>
      <li><a href="/trademark">Trademark &trade;</a></li>
      <li><a href="/about-company">About Company</a></li>
    </ul>
  </div>
</footer>
