<header>
  <nav class="loggedIn-nav">
    <!-- <div class="nav-btn" id="home-btn">Home</div> -->
    <div class="nav-btn" id="about-btn">About us</div>
    <div class="nav-btn" id="contact-btn">Contact</div>
    <div id="logout-btn" class="nav-btn">Logout</div>
    <div id="profile-btn" class="nav-btn">profile</div>
    <div id="collection-btn" class="nav-btn">Collections</div>
    <div id="create-btn" class="nav-btn">Create</div>
    <div class="menu-icon">
      <img src="/svgs/icons8-menu.svg" id="menu-icon-svg" srcset="" />
    </div>
  </nav>
</header>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const userId = "<%= user._id %>";
    console.log(userId);
    const logoutBtn = () => {
      console.log(document.getElementById("logout-btn"));
      document
        .getElementById("logout-btn")
        .addEventListener("click", async () => {
          try {
            // Call the logout endpoint on the server
            const response = await fetch("/users/logout", {
              method: "POST",
            });
            if (response.ok) {
              // Redirect to the home page after logout
              window.location.href = "/";
            }
          } catch (error) {
            console.error("Logout failed:", error);
          }
        });
    };
    const profileBtn = () => {
      document.getElementById("profile-btn").addEventListener("click", () => {
        console.log("hello world");
        window.location.href = `/users/${userId}/profile`;
      });
    };

    const collectionsBtn = () => {
      document
        .getElementById("collection-btn")
        .addEventListener("click", () => {
          window.location.href = `/users/${userId}/collections`;
        });
    };

    const createTask = () => {
      document.getElementById("create-btn").addEventListener("click", () => {
        window.location.href = `/users/${userId}/create`;
      });
    };
    const generalTab = () => {
      // document.getElementById("home-btn").addEventListener("click", () => {
      //   window.location.href = "/";
      // });
      document.getElementById("about-btn").addEventListener("click", () => {
        window.location.href = "/about";
      });
      document.getElementById("contact-btn").addEventListener("click", () => {
        window.location.href = "/contact";
      });
    };
    generalTab();
    createTask();
    logoutBtn();
    profileBtn();
    collectionsBtn();
  });
</script>
